@font-face{font-family: Circular; src: url('Fonts/Circular/CircularStd-Medium.otf');}
@font-face{font-family: Circular; font-weight: bold; src: url('Fonts/Circular/CircularStd-Bold.otf');}
@font-face{font-family: Circular; font-weight: book; src: url('Fonts/Circular/CircularStd-Book.otf');}

body{
	font-family: Circular, sans-serif;
	margin: 0px;
	background-color: rgb(0,104,255);
}

header{
	font-weight: bold;
	height: 60px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 270px;
	padding-left: 270px
}
h1{
	color: rgb(255,230,59);
}


main{
	height: 300vh;
	
}

footer{
	height: 20vh;
	background-color: rgb(0,93,204);
	color: rgb(255,255,255);
	padding-top: 1px
}

.titolo{

}

.sottotitolo{
	padding-left: 100px
}

.menu{
	display: block;
	color: black;
	height: 0px;
}

.menu-item{
	display: inline-block;
	padding: 20px;
	float: right;
}

#homepage{
	float: left;
}

a{
	color: rgb(255,230,59);
	text-decoration: none;
	transition: color 0.3s ease;
}

a:hover{
	color: #ff0066
}

.fondo{
	padding: 10px;
	padding-top: 40px;
	margin: 30px
}

.link2{
	color: #ff0066
}

.presentazione{
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 400px;
	color: white;
}

.sezione-progetti{
	padding-right: 200px;
	padding-left: 200px;
	text-align: center;	
}

.progetto{
	background-color: white;
	width: 900px;
	height: 500px;
	padding-left: 40px;
	padding-right: 40px;
	margin: 30px auto;
    display: inline-block;
}

.thumbnail{
	height: 300px;
	width: 800px;
	margin: 45px auto;
}

.titolo-card{
	padding-left: 85px;
	color: rgb(0,104,255);
	text-align: left;
}

.inner-beauty{
	background-image: url(Foto/inner-beauty/thumbnail.png);
	background-size: 99%;
	background-position: center;
}

