@font-face{font-family: Circular; src: url('Fonts/Circular/CircularStd-Medium.otf');}
@font-face{font-family: Circular; font-weight: bold; src: url('Fonts/Circular/CircularStd-Bold.otf');}
@font-face{font-family: Circular; font-weight: book; src: url('Fonts/Circular/CircularStd-Book.otf');}
@font-face{font-family: Roboto; src: url('Fonts/Roboto/Roboto-Regular.ttf');}

*{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
.clearfix::after{
	content: "";
	clear: both;
	display: table;
}
html{
	font-family: Circular;
	font-weight: 100;
}
body{
	width: 60%;
	margin: auto;
	background-image: url(immagini/BG.png);
	background-position: top;
	background-size: cover;
	background-repeat: no-repeat;
}
.blue{
	color: #027BFF;
}
h1{
	font-size: 40px;
	font-weight: bold;
	color: #17191A;
}
h2{
	font-size: 35px;
	font-weight: bold;
	color: #17191A;
}
h5{
	font-weight: 25;
	font-size: 20px;
	margin-top: 10px;
	color: #17191A;
}
h6{
	font-size: 15px;
	font-weight: 30;
	color: #8F9EA5;
	margin-top: 10px;
	margin-bottom: 40px;
	line-height: 25px
}
p{
	color: #8F9EA5;
	opacity: 0.8;
	margin-top: 10px;
	font-size: 20px;
	font-weight: book
}

/*-------------------Nav-----------------*/
.nav{
	display: flex;
	align-items: center;
	height: 100px;
}
.contactMe, .navIcons{
	flex: 1;
}
.navIcons{
	text-align: right;
}
.navIcons a, .contactMe a, .contactMe img{
	display: inline-block;
	vertical-align: middle;
}
.navIcons a{
	margin-left: 40px;
}
.contactMe a{
	color: #027BFF;
	text-decoration: none;
}
.contactMe img{
	margin-right: 10px;
	height: 40px;
	width: 50px;
}
.fab{
	color: #A6A6A6;
	font-size: 26px;

}
/*-------------------Intro-----------------*/
.intro{
	height: 100vh;
	position: relative;
}
.introWrapper{
	display: flex;
	justify-content: space-between;
	margin-top: 40px;
}
ul{
	list-style: none;
	margin-top: 30px;
	line-height: 30px;
}
.introL{
	margin-top: 4em;
}
.introL p{
	margin-top: 35px;
}
.scroll{
	position: absolute;
	bottom: 180px;
	left: 0;
	right: 0;
	margin: auto;
}

/*-------------------Skills-----------------*/
.skills{
	text-align: center;
	margin-bottom: 10em;
}
.skills p{
	margin-bottom: 30px;
}
.skills img{
	width: 40px;
	margin: 0 15px;
}

/*-------------------Work 01-----------------*/
.work{
	width: 100%;
	position: relative;
	margin-bottom: 20em;
}
.work > .workText{
	position: absolute;
	top: 55px;
	padding: 30px;
	background-color: white;
	box-shadow: 2px 25px 105px -34px rgba(0,0,0,0.4);
	transition: all .5s cubic-bezier(0.34, 1.01, 0.85, 0.99);
}
.work > .workText > .underline{
	display: block;
	background-color: #027BFF;
	height: 3px;
	width: 61px;
	margin-top: 5px;
}
.work > .workImg{
	width: 85%;
	float: right;
	transition: all .5s cubic-bezier(0.34, 1.01, 0.85, 0.99);
	box-shadow: -2px 46px 165px -25px rgba(0,0,0,0.37);
}
.work ul{
	position: absolute;
	bottom: 0;
	right: 86%;
	margin-right: 10px;
}
.work ul li{
	margin-top: 20px;
}

/*-------------------Work 02-----------------*/
.work2{
	width: 100%;
	position: relative;
	margin-bottom: 20em;
}
.work2 > .workText{
	position: absolute;
	top: 55px;
	right: 0;
	text-align: right;
	padding: 30px;
	background-color: white;
	box-shadow: 2px 25px 105px -34px rgba(0,0,0,0.4);
	transition: all .5s cubic-bezier(0.34, 1.01, 0.85, 0.99);
}
.work2 > .workText > .underline{
	display: block;
	background-color: #027BFF;
	height: 3px;
	width: 61px;
	margin-top: 5px;
	float: right;
}
.work2 > .workImg{
	width: 85%;
	float: left;
	transition: all .5s cubic-bezier(0.34, 1.01, 0.85, 0.99);
	box-shadow: -2px 46px 165px -25px rgba(0,0,0,0.37);
}
.work2 ul{
	position: absolute;
	bottom: 0;
	left: 86%;
	margin-left: 10px
}
.work2 ul li{
	margin-top: 20px;
}

/*-------------------Footer-----------------*/
.footer{
	padding-bottom: 7em;
	text-align: center;
}
.footer a{
	color: #027BFF;
	text-decoration: none;
}
.underlineSmall{
	display: inline-block;
	height: 3px;
	width: 41px;
	margin: 5px auto 0 auto;
	background-color: #027BFF;
}

/*-------------------Work 01 e 02-----------------*/
.work a, .work2 a{
	text-decoration: none;
	color: #17191A;
}
.work:hover .workImg{
	box-shadow: 0px 10px 56px -30px rgba(0,0,0,0.39);
	margin-top: 10px;
}
.work:hover .workText{
	margin-top: -10px
}
.work2:hover .workImg{
	box-shadow: 0px 10px 56px -30px rgba(0,0,0,0.39);
	margin-top: 10px;
}
.work2:hover .workText{
	margin-top: -10px
}
.nero{
	color: black
}
.lavori-titolo{
	text-align: center;
	margin-bottom: 130px;
}